body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  background-color:#79B9C6;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-align: left;
  margin-top: 1mm;
  margin-left: 1mm;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

h3 {
  color: black;
  margin-top: 2.5in;
  font-size: 12px;
  font-weight: 10;
}

h1 {
  color: white;
  margin-top: .25in;
  font-size: 64px;
  font-weight: bold;
}

.button {
  background-color: #79B9C6;
  border-color: white;
  color: white;
  padding: 5px 5px;
  font-size: 12px;
  margin-top: .25in;
<<<<<<< HEAD
}
=======
}
>>>>>>> 9a542635f80e65445238d281debf5e6fab22e631
